*{
    background-image: url(./image/sunrise.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sun-container{
    position: absolute;
    top: 90px;
    left: 550px;
    background-color: #fff !important;
    padding: 40px;
    border-radius: 20px;
    background-image: none;
}

.title{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff !important;
    background-image: none;
}

.info-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    background-image: none;
}

.button-container{
    display: flex;
    flex-direction: row;
    background-image: none;
    gap: 5px;
}

.sunrise{
    padding: 15px 10px;
    background-color: rgb(133, 153, 189);
    background-image: none;
    border: none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.sunset{
    padding: 15px 10px;
    background-color: rgb(222, 142, 73);
    background-image: none;
    border: none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.label{
    background-image: none;
    font-family: Arial, Helvetica, sans-serif;
}

.input{
    padding: 15px;
    background-color: #fff;
    box-shadow: rgba(46, 49, 51, 0.2) 0px 8px 24px;
    border: none;
    background-image: none;
    font-family: Arial, Helvetica, sans-serif;
}

#sunriseInfo{
    position: absolute;
    top: 350px;
    left: 0px;
    height: 100px;
    background-image: none;
    background-color: #fff;
    padding: 15px;
    border-radius: 9px;
    display: none;
}

.h3{
    background-image: none;
    font-family: Arial, Helvetica, sans-serif;
}

.p{
    background-image: none;
    font-family: Arial, Helvetica, sans-serif;
}

#sunsetInfo{
    position: absolute;
    top: 350px;
    left: 250px;
    background-image: none;
    background-color: #fff;
    height: 100px;
    padding: 15px;
    border-radius: 9px;
    display: none;
}